* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    color: rgb(0, 0, 0);
    background-color: white;
    min-width: 600px;

}

nav{
    display: flex;
    padding-right: 5px ;
    padding-left: 5px;
    width: 100vw;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 10px 0px 20px 0px;
    background-color: white;
    
}

.logo_pinterest{
    display: flex;
    flex-flow: row;
    height: 38px;
    width: 38px;
    margin: 0px 20px 0px 20px;
}

.logo{
    display: flex;
    flex-flow: row;
    height: 25px;
    width: 25px;
    margin: 0px 20px 0px 20px;
}
.pinterest_page{
text-decoration: none;
color: black;
font-size: 15px;
margin: 10px;

}

#start,#today, #search{
    margin-top: 7px;
}

#start{
    background-color: black;
    border-radius: 40%;
    padding: 15px 18px;
    
}

.pinterest_start{
    color: white;
    text-decoration: none;
}

#search{
    position: relative;
    width: 480px;
    height: 2.8rem;  
    background-color: #ebebeb;
    border-radius: 25px;
}

.magnifying_img{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0.8rem;
    left: 0.8rem;
}

#magnifying{
   position: absolute;
   left: 2rem;
   bottom: 0rem;
    
}
.finder{
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    padding: 0px 150px 0px 0px;
    margin-left: 10px;
    margin-right: 1px;
    width: 100%;
    height: 2.8rem;    
}

.finder::placeholder{
    color: rgb(155, 155, 155);
}

#notifications{
    position: absolute;
    left: 75%;
}
#message{
    position: absolute;
    left: 80%;
}
#profile-img{
    position: absolute;
    left: 85%;
}
.logo_profile{
    height: 45px;
    margin: 8px 20px 0px 20px;
}
#options{
    position: absolute;
    left: 90%;
}





main{
    margin: 1em;
    justify-content: center;
    align-items: center;
    
}
.card-image{
    justify-content: center;
    align-items: center;
}


#content{
    width: 97vw;
    margin-left: 18px;
    justify-content: center;
    align-items: center;
    columns: 5 220px;
    column-gap: 10px;
    
}

.grid_item{
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    
}

/*

filter: brightness(50%) */

.card-image:hover{
    filter: brightness(50%)
    
}