* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    color: rgb(0, 0, 0);

}

nav{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    justify-content: left;
    align-items: center;
}

.logo{
    display: flex;
    flex-flow: row;
    height: 35px;
    width: 35px;
    margin: 0px 20px 0px 20px;
}

.pinterest_page{
text-decoration: none;
color: black;
font-size: 1em;
margin: 10px;

}

#start,#today, #search{
    margin-top: 7px;
}

.finder{
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    padding: 0px 150px 0px 0px;
    margin-left: 10px;
    margin-right: 1px;
    width: 250%;
    height: 2.8rem;    
}

#notifications, #message, #profile-img, #options{
    justify-content: right;
    align-items: flex-end;
}
